.common{
    /* border: 2px solid black; */
    position: absolute;
}
.nav{
    position: relative;
    float: right;
    font-size: 85%;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    color: black;
    background-color: rgba(185, 117, 248, 0.5);
}
.header{
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center; 
    z-index: -1; 
    /* when - brings it behind and a + would bring it forward */
}
.content{
    top: 71px;
    left: 10%;
    right: 10%;
    background-color: rgba(154, 248, 176, 0.5);
}